.navbar{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: black;
    color: white;
    height: 70px;
}
.empty{
    flex-grow: 3;
}

.list{
    list-style: none;
    display: flex;
}

.list li{
    font-size: 1.2rem;
    padding: 0 40px;
}

h2{
    padding-left: 20px;
}

h2::first-letter{
    line-height: 70px;
    font-weight: 100;
    color: skyblue;
}